html,body {
    font-family: 'Niconne', cursive;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.query,
.total {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
}

.dice-field, .connect-field {
    font-size: 30px;
    text-align: center;
}

.chat-container .dice-field {
    width: 80%;
    font-size: 30px;
    text-align: center;
}

.dice-button {
    width: 18%;
    font-size: 30px;
    background-color: black;
    color: white;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 75px;
    max-width: 100%;
    overflow-x: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.app-container {
    flex-direction: row; 
}

.chat-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}

.dice-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat-container > .chatbox {
    min-height: 90vh;
    background-color: rgba(0,0,0,0.18);
    border: solid 1px rgba(0,0,0,0.5);
}

.connection-container > .message {
    display: flex;
    flex-direction: row;
    font-size: 75px;
}

.connection-container > .wifi {
    height: 200px;
}

.connection-container > form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
}

.connection-container > form > .start {
    width: 100%;
    margin: 20px 0;
}

.connection-container > form > .inputs {
    font-size: 40px
}

.connection-container > form > .inputs > .input-field > label {
    display: block; 
    width: 100px;
}

.dice,
.d4,
.d6,
.d8,
.d10,
.d12,
.d20,
.d100,
.modifier {
    font-size: 65px;
    line-height: 90px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    background-size: 100px;
}

.result > .dice {
    min-width: 100px;
}

.chat-container > .chatbox {
    font-family: 'Playfair Display', serif;
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.18);
    border: solid 1px rgba(0,0,0,0.5);
}
.chat-container > .chatbox > p > .dice {
    font-family: 'Niconne', cursive;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-size: 30px;
}

.chat-container > .chatbox > p > .modifier {
    font-size: 25px;
    width: 50px;
    height: 30px;
    line-height: 25px;
    font-weight: 700;
    background-size: 30px;
}

.chat-container > .chatbox > .chat-dice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}

.chat-container > .chatbox > .chat-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
}

.chat-container > .chatbox .announcement {
    font-weight: 700 !important;
    justify-content: center !important;
}

.chat-container > .chatbox .username {
    margin: 0 20px;
    font-weight: 600;
}



.modifier {
    color: black;
}

.dice {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='black' /%3E%3C/svg%3E");
    color: white;
}

.d4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 24 24'%3E%3Cpath d='M23.677 18.52c.914 1.523-.183 3.472-1.967 3.472h-19.414c-1.784 0-2.881-1.949-1.967-3.472l9.709-16.18c.891-1.483 3.041-1.48 3.93 0l9.709 16.18z'/%3E%3C/svg%3E%0A");
}

.d6 {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='100%25' height='100%25' viewBox='0 0 47.5 47.5' id='svg2' xml:space='preserve'%3E%3Cmetadata id='metadata3062'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs6'%3E%3CclipPath id='clipPath18'%3E%3Cpath d='M 0,38 38,38 38,0 0,0 0,38 z' id='path20' /%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='matrix(1.25,0,0,-1.25,0,47.5)' id='g12' style='fill:%23000;fill-opacity:1'%3E%3Cg id='g14' style='fill:%23000;fill-opacity:1'%3E%3Cg clip-path='url(%23clipPath18)' id='g16' style='fill:%23000;fill-opacity:1'%3E%3Cg transform='translate(37,5)' id='g22' style='fill:%23000;fill-opacity:1'%3E%3Cpath d='m 0,0 c 0,-2.209 -1.791,-4 -4,-4 l -28,0 c -2.209,0 -4,1.791 -4,4 l 0,28 c 0,2.209 1.791,4 4,4 l 28,0 c 2.209,0 4,-1.791 4,-4 L 0,0 z' id='path24' style='fill:%23000;fill-opacity:1;fill-rule:nonzero;stroke:none' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

.d8 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 24 24'%3E%3Cpath d='M23.677 18.52c.914 1.523-.183 3.472-1.967 3.472h-19.414c-1.784 0-2.881-1.949-1.967-3.472l9.709-16.18c.891-1.483 3.041-1.48 3.93 0l9.709 16.18z'/%3E%3C/svg%3E%0A") !important;
}

.d10 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 24 24'%3E%3Cpath d='M23.677 18.52c.914 1.523-.183 3.472-1.967 3.472h-19.414c-1.784 0-2.881-1.949-1.967-3.472l9.709-16.18c.891-1.483 3.041-1.48 3.93 0l9.709 16.18z'/%3E%3C/svg%3E%0A") !important;
}

.d12 {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.01 512.01' style='enable-background:new 0 0 512.01 512.01;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.804,200.28L262.471,12.866c-3.84-2.923-9.131-2.923-12.949,0L4.188,200.28c-3.605,2.773-5.077,7.531-3.648,11.84 l93.717,281.92c1.451,4.373,5.525,7.296,10.133,7.296h303.253c4.587,0,8.683-2.944,10.133-7.296l93.717-281.92 C512.882,207.789,511.41,203.053,507.804,200.28z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") !important;
}

.d20 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M881.4,209.6L560.8,24.5c-33.4-19.3-88.1-19.3-121.5,0L118.6,209.6c-33.4,19.3-60.8,66.6-60.8,105.2v370.3c0,38.6,27.3,85.9,60.8,105.2l320.7,185.2c33.4,19.3,88.1,19.3,121.5,0l320.7-185.2c33.4-19.3,60.8-66.6,60.8-105.2V314.8C942.2,276.3,914.9,228.9,881.4,209.6z'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.hidden {
    display: none;
}
